---
import Layout from '../layouts/Layout.astro';
---
<Layout title="La ruta del tonto | aprendiendo diseño CSS" url="https://pukllay.github.io/vladimir/css.html">
  <h1>Bienvenido a mi página de css</h1>
  <p>Muy pronto.</p>
</Layout>
