---
import Layout from '../layouts/Layout.astro';
---
<Layout title="La ruta del tonto | aprendiendo sobre informática" url="https://pukllay.github.io/vladimir/">
  <main>
    <section>
      <table class="table__ia">
        <tr>
          <th colspan="2">General</th>
        </tr>
        <tr>
          <td><a href="https://chatgpt.com/" title="Ir a la página de Chat GPT" target="_blank">Chat GPT</a></td>
          <td><img src="img/chatgpt.png" alt="Chat GPT"></td>
        </tr>
        <tr>
          <td><a href="https://gemini.google.com/app" title="Ir a la página de Gemini" target="_blank">Gemini</a></td>
          <td><img src="img/gemini.png" alt="Gemini"></td>
        </tr>
        <tr>
          <td><a href="https://www.bing.com/chat" title="Ir a la página de Bing" target="_blank">Bing</a></td>
          <td><img src="img/bing.png" alt="Bing"></td>
        </tr>
      </table>
      <table>
        <tr>
          <th colspan="2">Imágenes</th>
        </tr>
        <tr>
          <td><a href="https://app.leonardo.ai" title="Ir a la página de Leonardo" target="_blank">Leonardo</a></td>
          <td><img src="img/leonardo.png" alt="Leonardo"></td>
        </tr>
        <tr>
          <td><a href="https://manzzeto.com" title="Ir a la página de Manzzeto" target="_blank">Manzzeto</a></td>
          <td><img src="img/manzzeto.png" alt="Manzzeto"></td>
        </tr>
        <tr>
          <td><a href="https://www.bing.com/images/create" title="Ir a la página de Bing" target="_blank">Bing</a></td>
          <td><img src="img/bing.png" alt="Bing"></td>
        </tr>
      </table>
      <table>
        <tr>
          <th colspan="2">Diseño UI/UX</th>
        </tr>
        <tr>
          <td><a href="https://www.midjourney.com" title="Ir a la página de Midjourney" target="_blank">Midjourney</a></td>
          <td><img src="img/midjourney.png" alt="Midjourney"></td>
        </tr>
        <tr>
          <td><a href="https://designs.ai/" title="Ir a la página de Designs AI" target="_blank">Designs AI</a></td>
          <td><img src="img/designs-ai.png" alt="Designs AI"></td>
        </tr>
        <tr>
          <td><a href="https://www.qoqo.ai/" title="Ir a la página de QoQo AI UX" target="_blank">QoQo AI UX</a></td>
          <td><img src="img/qoqo.png" alt="QoQo AI UX"></td>
        </tr>
      </table>
    </section>
	</main>
  <aside style="text-align: center;">
    <img src="img/producto.webp" alt="Colchones flotex" style="width: 350px; margin-top: 10px">
  </aside>
</Layout>

