---
import Layout from '../layouts/Layout.astro';
---
<Layout title="La ruta del tonto | aprendiendo JavaScript" url="https://pukllay.github.io/vladimir/js.html">
  <h1>Bienvenido a mi página de js</h1>
  <p>Muy pronto</p>
</Layout>
