---
import Layout from '../layouts/Layout.astro';
---
<Layout title="La ruta del tonto | aprendiendo SQL Server" url="https://pukllay.github.io/vladimir/sql.html">
  <details>
    <summary>Tipos de datos</summary>
    <table>
      <tr>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Ejemplo</th>
      </tr>
      <tr>
        <td>VARCHAR(n)</td>
        <td>Cadenas o textos</td>
        <td>"texto" VARCHAR(5)</td>
      </tr>
      <tr>
        <td>BIT</td>
        <td>Boolean 1 o 0</td>
        <td>1=Verdadero, 0=Falso</td>
      </tr>
      <tr>
        <td>SMALLINT</td>
        <td>-32 768 a 32 767</td>
        <td>155</td>
      </tr>
      <tr>
        <td>TINYINT</td>
        <td>0 a 255</td>
        <td>28</td>
      </tr>
      <tr>
        <td>INT</td>
        <td></td>
        <td>5464</td>
      </tr>
      <tr>
        <td>DECIMAL(n,a)</td>
        <td>n=n° digitos, a=decimales</td>
        <td>2156.25 DECIMAL(4.2)</td>
      </tr>
      <tr>
        <td>MONEY</td>
        <td>Guarda dinero</td>
        <td>5,165,059.40</td>
      </tr>
      <tr>
        <td>DATE</td>
        <td>Fecha sin hora</td>
        <td>'31-01-2024'</td>
      </tr>
      <tr>
        <td>DATETIME</td>
        <td>Fecha y hora</td>
        <td>'31-01-2024 08:54:15'</td>
      </tr>
    </table>
  </details>
  <details>
    <summary>Crear DB y tabla</summary>
    <pre><code>        CREATE DATABASE Ejemplo;
        GO
      USE Ejemplo;
        GO
      CREATE TABLE Estudiantes(
        estudianteID INT IDENTITY(1,1) PRIMARY KEY NOT NULL,
        nombre VARCHAR(20) NOT NULL,
        apellido VARCHAR(20) NOT NULL,
        edad TINYINT
      )</code></pre>
  </details>
  <details>
    <summary>Titulo</summary>
    <pre><code>       DECLARE @personal TABLE(
      nombre VARCHAR(50),
      salario DECIMAL(18,2)
  );
  INSERT INTO @personal VALUES ('Daly', 3500.50),('Daniela', 2500.50),('Karla', 1500.00);
  SELECT * FROM @personal;
  
  WITH salarioPromedio AS (
      SELECT AVG(salario) AS promedio
      FROM @personal
  )
  SELECT 
      nombre, salario
  FROM 
      @personal
  WHERE 
      salario > (SELECT promedio FROM salarioPromedio);</code></pre>
  </details>
</Layout>

