<header class="header">
  <nav class="navbar">
    <h1 class="logo">La ruta del tonto 游뱕</h1>
    <label class="labe_hamburguesa" for="menu_hamburguesa"><b>&#x2630;</b></label>
    <input class="menu_hamburguesa" type="checkbox" name="" id="menu_hamburguesa">
    <ul class="ul_links">
      <li class="li_links"><a href="index.html" title="Ir a la p치gina de inicio" class="link">Inicio</a></li>
      <li class="li_links"><a href="html.html" title="Ir a la p치gina de HTML" class="link">HTML</a></li>
      <li class="li_links"><a href="css.html" title="Ir a la p치gina de CSS" class="link">CSS</a></li>
      <li class="li_links"><a href="js.html" title="Ir a la p치gina de JS" class="link">JS</a></li>
      <li class="li_links"><a href="git.html" title="Ir a la p치gina de Git" class="link">Git</a></li>
      <li class="li_links"><a href="sql.html" title="Ir a la p치gina de SQL Server" class="link">SQL Server</a></li>
      <li class="li_links"><a href="comandos.html" title="Ir a la p치gina de comandos de Windows" class="link">Comandos</a></li>
    </ul>
  </nav>
</header>
<link rel="stylesheet" href="/css/header.css">
